<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
    <ul>
      <li><a href="/map">Map</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/budget">Budget</a></li>
      <li><a href="/expenses">Expenses</a></li>
     <ul>
    </div>
    <div class="span10">
      <!--Body content-->
    </div>
  </div>
</div>