<!DOCTYPE html>
<html>
	<head>
	<title>Passport-Foursquare Example</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
	<script src="js/vendor/jquery.ui.widget.js"></script>
	<script src="js/jquery.iframe-transport.js"></script>
	<script src="js/jquery.fileupload.js"></script>
	</head>
	<body>
	<div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	     <div class="container">
	       <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	         <span class="icon-bar"></span>
	       </a>
	       <a class="brand" href="../">Fournancial</a>
	       </div>
	     </div>
	</div>
	<div class = "row">
		<div class = "span8 offset2">
 			<form action="" class="form-horizonatal well extrapaddingbottom" method="POST" id="account-form-signup">
 			<legend><h4>Sign up to save mad cash!</h4></legend>
            <div class = "row">
            	<p class="help-block bankinfo" style="padding-left:20px;">Use the same credentials as you do for online banking</p>
            	<div class = "extrabottom">
	            	<div class = "span3">
			                <label for="handle" class="stripeLabel">My Username</label>
			                <input type="text" name="handle" class="required" />
			                <span id="msgbox" style="display:none"></span>
							<label for="email">My Email</label>
							<input type="text" name="email" class="required email" />
					</div>
					<div class = "span3 offset1">
			                <label for="password1" class="passwordLabel">My Password</label>
			                <input id="password1" type="password" name="password1" class="required password" />   
			                <label for="password2" class="passwordLabel">Confirm Password</label>
			                <input type="password" name="password2" equalTo="#password1" class="required" />
			        </div>   
		        </div>  
            </div>

            <legend><h4>Banking Information</h4></legend>
                
        	<div class="control-group">
	            <label class="control-label" name="acctype" for="acctype">Account Type</label>
	            <div class="controls">
	              <select id="acctype" name="acctype">
	                <option id="checking" value="CHECKING">Checking</option>
	                <option id="savings" value="SAVINGS">Savings</option>
	                <option id="moneymrkt" value="MONEYMRKT">Money Market</option>
	                <option id="creditcard" value="CREDITCARD">Credit Card</option>
	              </select>
	            </div>
          	</div>


          	<label>Choose QIF File</label>
            <input id="fileupload" type="file" name="QIF">
           
        
        	<div class ="span2 offset6 extrapaddingbottom">
	            <button type="submit" name="submit-button">Submit</button>
	            <span class="payment-errors"></span>
        	</div>

        </form>
        </div>
        </div>
      	</div>
	</body>

	    <script type="text/javascript">
            $(document).ready(function() {
            	$("#account-form-signup").validate();

            });


		$(function () {
		    $('#fileupload').fileupload({
		        dataType: 'QIF',
		        done: function (e, data) {
		            $.each(data.result.files, function (index, file) {
		                $('<p/>').text(file.name).appendTo(document.body);
		            });
		        }
		    });
		});

	    </script>
</html>