<div class="logbar pull-right">
	<a href="/login"><h5>Login</h5></a>
</div>
<div class ="row">
		<img src="/images/fournancial.jpeg">
		<h4>Track your expenses with Foursquare</h4>
		<a class="btn btn-primary" href="/auth/foursquare">Authenticate</a>
	</div>