<!DOCTYPE html>
<html>
	<head>
		<title>Passport-Foursquare Example</title>
	</head>
	<body>
		<h4>Track your expenses with Foursquare</h4>
		<a class="btn btn-primary" href="/auth/foursquare">Authenticate</a>
	</body>
</html>