<!DOCTYPE html>
<html>
	<head>
		<title>Fournancial</title>
	<link rel='stylesheet' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
	</head>
	<body style="background:#fffff;">
	<div class ="row">
		<img src="/images/fournancial.jpeg">
		<h4>Track your expenses with Foursquare</h4>
		<a class="btn btn-primary" href="/auth/foursquare">Authenticate</a>
	</div>
	</body>
</html>