<div class = "row">
	<div class = "span4 offset4">
		<img class="extrabottom" src="/images/fournancial.jpeg">
		<form action="/login" class="form-horizonatal well extrapaddingbottom" method="post"  id="login-form">
			<label>Handle</label>
			<input type="text" name="username">
			<label>Password</label>
			<input type="password" name="password">
			<div class ="span2 offset2">
				<button class="btn btn-primary">Login</button>
			</div>
		</form>
	</div>
</div>