<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style = "padding-top:80px">
    <ul class="nav nav-list">
	  <li><a href="/account">Account</a></li>
	  <li><a href="/spending">Spending</a></li>
	  <li>Map</li>
	</ul>
    </div>
    <div class="span10 extraextrapaddingtop">
    	 <div id="maps"></div>
    </div>
  </div>
</div>


