<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2" style = "padding-top:80px">
    <ul class="nav nav-list">
	  <li><a href="/account">Account</a></li>
	  <li>Spending</li>
	  <li><a href="/map">Map</a></li>
	</ul>
    </div>
    <div class="span10 extrapaddingtop">
    	 <div id="chart_div" style="width: 450px; height: 250px;"></div>
    </div>
  </div>
</div>