body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.bankinfo {
	padding-left: 20px;
	padding-bottom: 20px;
}

.extrabottom {
	margin-bottom: 30px;
}

.extrapaddingbottom {
	padding-bottom: 40px;
}

